@tailwind base;
@tailwind components;
@tailwind utilities;

.VPFeature {
    opacity: 0.93;
}

.VPHero .container {
    background: white;
    opacity: 0.93;
    padding: 1rem;
    border-radius: 12px;
}

.VPNavBarTitle a span {
    color: #e30a17;
}

body {
    @apply font-sans; /* Apply the default sans font globally */
}
